.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  border-bottom: 1px solid rgba(255, 255, 255, 0.558);
  background-color: #cccccca0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

a.active-class {
  color: #007bff;
}