.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh; 
    .page-content {
        align-self:center; justify-content: flex-start; flex: 1 0 auto; max-width: 60%;
    }

    .footer {
        flex-shrink: 0; 
    }
}