.app-container {
    display: block;
    min-height: 100dvh; 
    background-image: url('../../public/fractal-continuous_blur.png');
    min-width:fit-content;
}

.page-content {
    text-align: center;
    margin: 4rem auto;
    max-width: 60%;
    padding: 2rem;

}

.content-wrapper {
    min-height: 90dvh;
}

@media (max-width: 768px) {
    .page-content {
        max-width: 90%;
    }
}